@font-face {
    font-family: 'Charis SIL Regular';
    src: url(../Fonts/Charis-SIL/CharisSIL-Regular.ttf);
}
@font-face {
    font-family: 'Charis SIL Bold';
    src: url(../Fonts/Charis-SIL/CharisSIL-Bold.ttf);
}
@font-face {
    font-family: 'Charis SIL Bold Italic';
    src: url(../Fonts/Charis-SIL/CharisSIL-BoldItalic.ttf);
}
@font-face {
    font-family: 'Charis SIL Italic';
    src: url(../Fonts/Charis-SIL/CharisSIL-Italic.ttf);
}
@font-face {
    font-family: 'Geist';
    src: url(../Fonts/Geist/Geist-VariableFont_wght.ttf);
}
h5 {
    font-family: 'Geist', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 20px;
}
.navbarWrapper {
    width: 100%;
    display: block;
    font-family: 'Geist', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.label {
    display: block;
    width: 100%;
    font-family: 'Geist', sans-serif;
    color: #FFFFFF;
    background-color: #FE993C;
    padding: 10px;
    text-align: center;
}
#navbarLogo {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}
#navbarBrand {
    font-family: 'Charis SIL Regular', serif;
    font-size: 40px;
    color: #000000;
}
#navbarLinks {
    font-family: 'Geist', sans-serif;
    font-size: 20px;
}
#navbarLinks a {
    color: #FE993C;
    transition: all 0.2s ease-in-out;
}
#navbarLinks a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.footerWrapper {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}
#footer {
    width: 100%;
    display: block;
    font-family: 'Geist', sans-serif;
    background-color: #FE993C;
    color: #FFFFFF;
    padding: 15px 0;
    margin: 0;
}
#footerLogo {
    width: 200px;
    height: auto;
    padding: 10px;
}
#footerLink {
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
#footerLink:hover {
    text-decoration: underline;
}
.footerText {
    margin: 30px 0;
}
@media (max-width: 768px) {
    #navbarLogo {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    #navbarBrand {
        font-size: 20px;
    }

    #navbarLinks {
        font-size: 18px;
        text-align: center;
    }

    #navbarLinks .nav-item {
        margin: 10px 0;
    }

    .navbar .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }

    .label {
        font-size: 12px;
        padding: 8px;
    }
    #footer .row {
        text-align: center;
    }
    #footer .col,
    #footer .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    #footerLogo {
        width: 120px;
        margin: 0 auto;
        display: block;
    }
    .footerText {
        margin: 10px 0;
    }
    #footerLink {
        font-size: 14px;
        display: inline-block;
        margin: 5px 0;
    }
}