.main-content {
    background: #ffffff;
    padding: 3rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* ===== TITLES ===== */
.page-title {
    color: #de710c !important;
    font-family: 'Charis SIL Bold';
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.page-divider {
    border: none;
    height: 2px;
    background-color: #de710c !important;
    margin: 1.5rem 0;
    width: 100%;
}
.page-description {
    margin: 20px !important; ;
    font-size: 1.05rem;
    line-height: 1.8;
    margin-bottom: 3rem;
    font-family: 'Geist', sans-serif;
}

/* ===== SECTION LABEL ===== */
.section-label {
    font-family: 'Geist', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.certificate-grid {
    row-gap: 3rem;
}

.certificate-card {
    padding: 1.25rem;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6rem;
    text-align: center;
    min-height: 100%;
}

.certificate-card.card-action {
    transition: none !important;
}

.certificate-card.card-action:hover {
    transform: none !important;
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12) !important;
}

.certificate-card.card-action:hover h3 {
    color: #fc6b03 !important;
}

.certificate-card.card-action:hover .apply-btn {
    background-color: #fc8d3d !important;
    color: #ffffff !important;
}

.certificate-icon {
    height: 120px;
    margin-bottom: 1rem;
}

.certificate-text {
    margin-bottom: 1rem;
    color: #333;
}

.apply-btn {
    background-color: #fc8d3d !important;
    color: #ffffff !important;
    padding: 0.45rem 1.8rem;
    border-radius: 6px;
    font-size: 0.95rem; 
    font-weight: bold !important;
    
}

h3 {
    font-family: 'Charis SIL Bold', serif;
    padding-bottom: 0.5rem !important;
    color: #fc6b03 !important; 

}

p.section-label {
    font-family: 'Geist', sans-serif;
    color: #0e0c0b !important;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
}




@media (max-width: 767px) {
    .main-content {
        padding: 1.5rem;
    }
    .page-title {
        font-size: 2rem;
    }
    .page-description {
        font-size: 1rem;
    }
    .section-label {
        font-size: 1rem;
    }
    .certificate-icon {
        height: 100px;
    }
}

@media (min-width: 769px) {
    #div-mainDisplay.main-content {
        flex: 0 0 auto;
        width: calc(100vw - 280px);
    }
}
