.main-content {
    background: #ffffff;
    padding: 3rem;
}

/* ===== TITLES ===== */
.page-title {
    color: #ff7a18;
    font-family: 'Charis SIL Bold';
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
hr{
    border: none;
    height: 2px;
    background-color: #ff7a18 !important;
    margin: 1.5rem 0;
    width: 40% !important;
}
.page-description {
    margin: 20px !important; ;
    font-size: 1.05rem;
    line-height: 1.8;
    margin-bottom: 3rem;
    font-family: 'Geist', sans-serif;
}

/* ===== SECTION LABEL ===== */
.section-label {
    font-family: 'Geist', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.certificate-grid {
    row-gap: 3rem;
}

.certificate-card {
    padding: 1rem;
}

.certificate-icon {
    height: 120px;
    margin-bottom: 1rem;
}

.certificate-text {
    margin-bottom: 1rem;
}

.apply-btn {
    background-color: #fc8d3d !important;
    color: #ffffff !important;
    padding: 0.45rem 1.8rem;
    border-radius: 6px;
    font-size: 0.95rem; 
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out !important;
    font-weight: bold !important;
    
}

h3 {
    font-family: 'Charis SIL Bold', serif;
    padding-bottom: 0.5rem !important;
    color: #fc6b03 !important; 

}

p.section-label {
    font-family: 'Geist', sans-serif;
    color: #0e0c0b !important;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.apply-btn:hover {
    background-color: #f76700 !important;
    color: #ffffff !important;
}
@media (max-width: 767px) {
    .main-content {
        padding: 1.5rem;
    }
    .page-title {
        font-size: 2rem;
    }
    .page-description {
        font-size: 1rem;
    }
    .section-label {
        font-size: 1rem;
    }
    .certificate-icon {
        height: 100px;
    }
}