@font-face {
    font-family: 'Charis SIL Regular';
    src: url(../Fonts/Charis-SIL/CharisSIL-Regular.ttf);
}
@font-face {
    font-family: 'Charis SIL Bold';
    src: url(../Fonts/Charis-SIL/CharisSIL-Bold.ttf);
}
@font-face {
    font-family: 'Charis SIL Bold Italic';
    src: url(../Fonts/Charis-SIL/CharisSIL-BoldItalic.ttf);
}
@font-face {
    font-family: 'Charis SIL Italic';
    src: url(../Fonts/Charis-SIL/CharisSIL-Italic.ttf);
}
@font-face {
    font-family: 'Geist';
    src: url(../Fonts/Geist/Geist-VariableFont_wght.ttf);
}
body {
    font-family: 'Geist', sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
}
.banner {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}
.bannerImage {
    width: 100%;
    height: auto;
    display: block;
}
.bannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Charis SIL Bold', serif;
    color: #FE993C;
}
#imgLandscape {
    width: 510px;
    height: 270px;
}
#goToTop {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #DE710C;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Geist', sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}
#goToTop:hover {
  background-color: #ffffff;
  color: #DE710C;
  outline: #DE710C solid 2px;
  font-family: 'Geist', sans-serif;
  box-shadow: 2px 2px 6 rgba(0, 0, 0, 0.2);
}
.fa-arrow-up:hover, .fa-solid:hover {
    color: #DE710C !important;
}
.pageDivider {
    width: 100%;
    height: 50px;
    background-color: #FE993C;
    display: block;
    margin: 0;
    padding: 0;
}
.brgyCaptainSection, .deptSection, .servicesSection {
    margin-top: 100px;
}
.labelDivider {
    width: 100%;
    height: 100px;
    background-color: #FE993C;
    color: #FFFFFF;
    font-family: 'Charis SIL Bold', serif;
    font-size: 40px;
    text-align: center;
    display: block;
    margin: 100px 0;
    align-content: center;
}
#officialImg {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
}
.deptBox, .servBox {
    border: #FE993C solid 2px;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
#deptBtn {
    background-color: #FE993C;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Geist', sans-serif;
    transition: all 0.2s ease-in-out;
    padding: 7px 25px;
}
#deptBtn:hover {
    background-color: #FFFFFF;
    outline: #FE993C solid 2px;
    color: #FE993C;
}
#kapDesign {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    .bannerImage {
        width: 100%;
        height: auto;
    }
    .bannerText {
        font-size: 10px;
        padding: 10px;
        width: 90%;
        margin-top: 5px;
    }
    .pageDivider {
        height: 20px;
    }
    .labelDivider {
        height: 70px;
        font-size: 24px;
        margin: 50px 0;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    .brgyCaptainSection, .deptSection, .servicesSection {
        margin-top: 50px;
    }
    .brgyCaptainSection .col-md-8 {
        margin-top: 20px;
    }
    .brgyCaptainSection p, .deptSection p, .servicesSection p {
        font-size: 14px;
    }
    #officialImg {
        max-width: 200px;
    }
    .deptBox, .servBox {
        padding: 10px;
        margin: 5px;
    }
}