:root {
    color-scheme: light;
}
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light;
    }
    body {
        background-color: #ffffff;
        color: #000000;
    }
}

@font-face {
    font-family: 'Charis SIL Regular';
    src: url(../../Fonts/Charis-SIL/CharisSIL-Regular.ttf);
}
@font-face {
    font-family: 'Charis SIL Bold';
    src: url(../../Fonts/Charis-SIL/CharisSIL-Bold.ttf);
}
@font-face {
    font-family: 'Charis SIL Bold Italic';
    src: url(../../Fonts/Charis-SIL/CharisSIL-BoldItalic.ttf);
}
@font-face {
    font-family: 'Charis SIL Italic';
    src: url(../../Fonts/Charis-SIL/CharisSIL-Italic.ttf);
}
@font-face {
    font-family: 'Geist';
    src: url(../../Fonts/Geist/Geist-VariableFont_wght.ttf);
}

.sidebar-header {
    font-family: 'Charis SIL Bold', serif;
}

#dashboard-sidebar {
    height: 100vh;
    border-right: 1px solid #e0e0e0;
    background-color: #ffffff;
    font-family: 'Geist', sans-serif;
}

#sidebar-logo {
    width: 30px;
    height: 30px;
}

.btn-toggle-nav {
  padding-left: 1.8rem;
}

.btn-toggle-nav a {
  display: block;
  padding: 6px 10px;
  margin: 2px 0;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.85rem;
  color: #444;
  transition: all 0.2s ease-in-out;
}

.btn-toggle-nav a:hover {
  background-color: #f1f3f5;
  color: #000;
  padding-left: 16px; 
}

.btn-toggle-nav a.active {
  background-color: #e7f1ff;
  color: #0d6efd;
  font-weight: 600;
}

#main-display {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
    font-family: 'Geist', sans-serif;
}

#main-display h1 {
    font-family: 'Charis SIL Bold', serif;
    margin-bottom: 20px;
}

#requestsSection {
    display: none;
}

.nav-item .nav-link {
    color: #d76e0b !important;
}

#statusTabs .nav-link.active {
    font-weight: bold;
}

#statusTabs .nav-link {
    font-weight: normal;
}

.btn-toggle-nav a.active {
  background-color: #DE710C;
  color: white !important;
  font-weight: 600;
}

.btn-toggle.active {
  background-color: rgba(222, 113, 12, 0.1);
  font-weight: 600;
}